streamlit
langchain
langchain-groq
python-dotenv
pathlib
ipykernel
Ollama
langchain-community
streamlit 
faiss-cpu
pypdf2
pypdf
bs4
pydantic
openai==0.28
langchain-google-genai 
google-generativeai
faster-whisper
praat-parselmouth
elevenlabs
playsound
scikit-learn
python-multipart
gtts
pyttsx3